<!-- <div>
  <h2>{{ username }} rooms</h2>
  <div *ngFor="let article of articles">
    <ul>
      <li>
        <p>{{ article.article_id }}</p>
        <p>{{ article.title }}</p>
        <p>{{article.body}}</p>
      </li>
    </ul>
  </div>
</div> -->

<div>
  <h2>{{ username }} rooms</h2>
  <div *ngFor="let result of data">
    <ul>
      <li>
        <p>{{result.username}}</p>
       
      </li>
    </ul>
  </div>
<form action="">
  <input type="text">
  <button>post</button>
</form>

</div>
