/* @font-face{
  font-family: 'GT Pressura Pro';
  src: url('./GT-Pressura-Pro-Regular.woff2') format('woff2');
  font-weight: 1 999;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #161616;

}

p, span, a, h1, h2, h3, h4 ,h5 {
  margin: 0;
  padding: 0;
}
a:link {
  text-decoration: none;
}
ul,li { list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0; }

.App {
  text-align: center;
  /* background-color: cornflowerblue; */
}

.component-identifier {
  color: red;
  font-size: 10px;
  border: 1px dashed red;
}


