#app-header {
  background-color: #00D1B8;
  padding: 2em;
}

#app-header h1 {
  color: rgb(0, 0, 0);
  font-family: 'ETC Grandstander';
  font-variation-settings: 'wght' 600;
  font-size: 4em
}

#askfast {
 color:rgb(0, 117, 104);
}

#fastans {
  color: #004941;
}