.audience-card-container {
  background-color: #161616;
  padding: 1em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.audience-submit-btn {
  background: #ff417a;
  border-radius: 8px;
  border: 0;
  color: white;
  padding: 1.5em;
  margin: 1em 0;
}

.audience-yes-btn {
  background: yellowgreen;
  border-radius: 8px;
  border: 0;
  color: rgb(0, 0, 0);
  padding: 1.5em;
  margin: 1em 0;
}

.audience-no-btn {
  background: rgb(205, 50, 50);
  border-radius: 8px;
  border: 0;
  color: rgb(0, 0, 0);
  padding: 1.5em;
  margin: 1em 0;
}
