#session-view-container {
  background-color: #2d2d2e;
  color: white;
  text-align: left;
  padding: 3em 10%;
}

#session-view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 0;
}

#live-data-view {
  background-color: rgb(207, 207, 207);
  color: black;
  padding: 10em;
}

#loading-session {
  color: white;
  font-size: 2em;
  padding: 10%;
}

#abort-session{
  color: #00d1b8;
  text-decoration: underline;
}

#end-session-btn {
  background: #00d1b8;
  color: rgb(0, 0, 0);
  border: 0;
  font-size: 1em;
  font-weight: 600;
  border-radius: 8px;
  padding: 1.5em 3em;
  margin: 0.5em;
  width: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 668px) {
  #session-view-container {
    padding: 3%;
  }
}
